<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>welcome_ecab.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>PATH</param-name>
        <param-value>jdbc:mysql://localhost:3306/ecab</param-value>
    </context-param>
    <context-param>
        <param-name>UNAME</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>PASSWORD</param-name>
        <param-value/>
    </context-param>
    <servlet>
        <servlet-name>serve1</servlet-name>
        <servlet-class>ourservlet.myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome1</servlet-name>
        <servlet-class>ourservlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpwd</servlet-name>
        <servlet-class>ourservlet.cpwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpwd1</servlet-name>
        <servlet-class>ourservlet.cpwd1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>serve1</servlet-name>
        <url-pattern>/serve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome1</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpwd</servlet-name>
        <url-pattern>/changeit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpwd1</servlet-name>
        <url-pattern>/changeit1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
